:root {
  --resume-primary: #317df0;
  --resume-primary-light: #4e95ff;
  --resume-secondary: #f9fd13;
}

/* ------------------ */

/* * Resume Styling * */

/* ------------------ */

.canvas-container {
  background-color: white;
  box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  height: 11in;
  margin: 0 auto; /* for centering, feel free to use flexbox or some other method*/
  padding: 0.15in; /* controls margins */
  transform: scale(0.7);
  width: 8.5in;
}

header {
  background-color: var(--resume-primary);
  padding: 0.5rem 0;
}

section {
  padding: 0 0.5rem;
}

/* * Resume Classes * */

.header-left {
  border-bottom: 1px solid var(--resume-secondary);
  width: 55%;
}

.header-right {
  backdrop-filter: blur(10px);
  background-color: var(--resume-primary);
  border: 1px solid var(--resume-secondary);
  border-radius: 10px;
  color: white;
  font-size: 16px;
  padding: 0 1rem;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}

.contact-list li {
  margin-bottom: 0.25rem;
}

.contact-icon {
  margin-right: 0.25rem;
  width: 1rem;
}

.contact-link {
  border-bottom: 2px solid var(--resume-secondary);
  color: white;
  text-decoration: none;
}

.title {
  color: white;
  font-size: 3rem;
  margin: 0;
}

.title-subtext {
  color: white;
  font-weight: 500;
  margin-bottom: 0;
}

.resume-body {
  height: 100%;
}

.sidebar {
  border-right: 1px solid var(--resume-secondary);
  height: 100%;
  width: 45%;
}

.education,
.skills {
  margin-bottom: 1.25rem;
}

.main-content {
  height: 100%;
  padding-left: 0.5rem;
  width: 100%;
}

.resume-heading {
  color: var(--resume-primary);
  font-weight: 400;
  letter-spacing: 8px;
  margin: 1rem 0 0.5rem 0;
  text-transform: uppercase;
}

.contact-list {
  font-size: 14px;
}

.contact-heading {
  color: var(--resume-secondary);
  text-align: center;
}

.experience-list {
  list-style-type: none;
  padding: 0;
}

.experience-list-item {
  font-size: 14px;
  margin: 0 0 0.75rem 0;
}

.about-main {
  margin: 0.5rem 0;
}

.about-left,
.about-right {
  margin: 0;
  width: 48%;
}

.about-left {
  padding-right: 0.25rem;
}

.about-right {
  padding-left: 0.25rem;
}

.project-head {
  height: 35px;
}

.project-head * {
  margin: 1rem 0 0.5rem 0;
}

.project-title--resume {
  color: var(--resume-primary);
  font-size: 16px;
  font-weight: 700;
  width: 10rem;
}

.project-links,
.project-links a {
  color: var(--resume-primary-light);
  margin: 0 0 0.5rem 0;
}

.skills-used {
  color: var(--resume-primary);
}

.project-description {
  margin: 0;
}

.project-list {
  list-style: none;
  margin: 0.75rem 0 0 0;
  padding: 0 0 0 2rem;
}

.project-list-item::before {
  color: var(--resume-primary);
  content: "\2022";
  display: inline-block;
  font-weight: 700;
  margin-left: -1em;
  width: 0.75em;
}

.bottom-block {
  background-color: var(--resume-primary);
  color: white;
  height: 40px;
  text-align: center;
}

/* TODO: Figure out how to print just resume */

/* * For Printing / Exporting to PDF * */
@media print {
  body *:not(.canvas-container) {
    display: none;
  }

  html {
    height: 11in;
    overflow: hidden;
    width: 8.5in;
  }

  body {
    margin: 0;
  }

  .modal {
    display: block;
  }

  .canvas-container {
    box-shadow: none;
    transform: scale(1);
    width: 100%;
  }
}

/* * Reusuable Resume Classes * */

.subheading {
  color: var(--resume-primary);
  margin: 0;
}

.section-content {
  margin: 0.25rem 0 0.5rem 0;
}

.small-text {
  font-size: 0.75rem;
}

.med-text {
  font-size: 0.9rem;
}

.italic {
  font-style: italic;
}

.filter-resume-secondary {
  filter: invert(89%) sepia(100%) saturate(6016%) hue-rotate(343deg) brightness(111%) contrast(98%);
}
