:root {
  --primary-color: #1e90ff;
  --primary-dark: rgb(21, 102, 184);
  --secondary-color: #f9f871;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* * Classes & IDs * */

.name {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.name-first-letter {
  font-size: 24px;
}

.top-nav {
  background-color: var(--primary-color);
  padding: 0.25rem 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

.nav-left,
.nav-right {
  width: 240px;
}

.nav-logo {
  height: 50px;
  margin-right: 0.5rem;
  width: 50px;
}

.nav-social {
  height: 35px;
  width: 35px;
}

.scroll-list,
.social-list {
  list-style-type: none;
}

.scroll-list-item,
.social-list-item {
  margin: 0 0.75rem;
}

.social-list-item a {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.4s;
}

.scroll-list-item a {
  border-bottom: 2px solid transparent;
  color: #fff;
  transition: all 0.4s;
}

.scroll-list-item a:focus,
.scroll-list-item a:hover,
.social-list-item a:focus,
.social-list-item a:hover {
  border-bottom: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.hero {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.hero-text-container {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 1rem 2rem;
}

.hero-text {
  color: white;
  font-size: 52px;
  font-weight: 200;
}

.section {
  padding: 2rem;
}

.projects {
  margin: 1rem 0;
  text-align: center;
  width: 100%;
}

.project-card {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  margin: 1rem 2rem;
  padding: 1rem;
  width: 300px;
}

.project-title {
  color: var(--primary-color);
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.project-img {
  border: 2px solid #616161;
  border-radius: 10px;
  width: 100%;
}

.project-btn-container {
  margin: 0.5rem 0 1rem;
  width: 60%;
}

.project-btn {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  padding: 0.25rem 0.75rem;
  transition: color, background-color 0.4s;
}

.project-btn:focus,
.project-btn:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

figcaption {
  height: 115px;
}

.project-tools {
  height: 140px;
  padding: 1rem;
  width: 100%;
}

.tool-icon {
  height: 35px;
  margin: 0.5rem;
}

.skill-icons {
  margin-bottom: 5rem;
}

.skill-title {
  color: white;
  font-weight: 500;
}

.concept,
.post {
  background-color: white;
  border: 2px solid var(--primary-dark);
  border-radius: 10px;
  height: 340px;
  margin: 1rem;
  text-align: center;
  width: 300px;
}

.concept-icon {
  height: 175px;
}

.concept-icon-big {
  height: 175px;
  padding: 1rem;
}

.concept-text {
  background-color: var(--primary-dark);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  color: white;
  height: 170px;
  padding: 1.5rem;
}

  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: color, border-bottom 0.4s;
}

.post-footer-link {
  border-bottom: 2px solid white;
  color: white;
  font-size: 12px;
}

.about {
  background-color: #eee;
  border-bottom: 2px solid var(--secondary-color);
}

.contact {
  background-color: #eee;
}

/* * Reusuable Classes * */

.heading {
  border-bottom: 2px solid var(--primary-dark);
  color: var(--primary-color);
  font-size: 44px;
  font-weight: 200;
  margin: 2rem 0 4rem 0;
  width: 30%;
}

.section-footer-text {
  font-size: 20px;
  margin: 2rem 0 0;
  text-align: center;
}

.section-footer-text > a {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: all 0.4s;
}

.section-footer-text > a:focus,
.section-footer-text > a:hover {
  border-bottom: 2px solid var(--primary-dark);
  color: var(--primary-dark);
  font-weight: 500;
}

/* SVG color change classes */

.filter-primary {
  filter: invert(44%) sepia(21%) saturate(4746%) hue-rotate(189deg) brightness(99%) contrast(104%);
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(227deg) brightness(111%) contrast(103%);
}

/* Flexbox classes */

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.flex--align-center {
  align-items: center;
}

.flex--align-end {
  align-items: flex-end;
}

.flex--justify-around {
  justify-content: space-around;
}

.flex--justify-between {
  justify-content: space-between;
}

.flex--justify-center {
  justify-content: center;
}

.flex--justify-end {
  justify-content: flex-end;
}

.flex--justify-evenly {
  justify-content: space-evenly;
}

.flex--wrap {
  flex-wrap: wrap;
}
